.jobAppliedShowingComp-wrapper {
    display: grid;
    gap: 2rem;
    margin-bottom: 3rem;
}

.jobAppliedShowingComp-header {
    text-align: center;
    text-transform: uppercase;
    background-color: #643393;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma, sans-serif;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    

}