.custom-modal-for-companyDeleteModal {
    max-width: 50vw;
    /* Adjust the max-width value according to your needs */
    /* margin: 0 auto; */
    max-height: 80vh;
    overflow: hidden;
    /* Center the modal horizontally */
}