.jobPostsShowingComp-wrapper{
    display: grid;
    gap: 2rem;
    margin-bottom: 3rem;
}

.jobPostsShowingComp-header{
    text-align: center;
    text-transform: uppercase;
    background-color: #5a89be5c;
    font-family: Tahoma, sans-serif;

}