.job-card-wrapper{
    height: 590px;
    width: 500px;
    /* background-color: blueviolet; */
    /* cursor: pointer; */
    border: 1px solid rgba(12, 11, 11, 0.237);
    border-radius: 20px;
    padding: 2rem;
}
.job-card-title{
    font-size: 1.5rem;
    font-weight: bolder;

}
.job-card-tags{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.507);
   display: flex;
   gap: 10px;
flex-wrap: wrap;

}
.job-card-tag{
    background-color: #F3F2F1;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    
}

.job-card-description{
    height: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-card-details-btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.newJobCard-wrapper{
    /* font-family: ; */
    /* height: 6rem; */
    height: fit-content;
    background-color: #F3F3F3;
    width: 95%;
    min-width: 900px;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 6px 9px 9px -12px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 6px 9px 9px -12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 9px 9px -12px rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        font-size: 0.9em;
}
.newJobCard-items-wrapper{
    /* word-break: break-all; */
    /* background-color: ; */
    max-width: 15rem;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newJobCard-item{
    /* min-width: 100%; */
    /* justify-self: center;
    align-items: center; */
}
.newJobCard-item-title{
    font-weight: 600;
}