.companySidebar-wrapper{
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    height: 90vh;
    background-color: #1E1F22;
    
    /* padding-bottom: 4vh; */
    
}
.company-logo-wrapper{
    display: flex;
    justify-items: center;
    padding-bottom: 1rem;
    background-color: #1E1F22;
    
}

.company-logo-wrapper > img{
    width: 200px;
    height: auto;
}